#container{
	display:flex;
	justify-content:space-around;
	
}
.box3{
	background-color:green;
	width:100px;
	height:100px;
	font-size:50px
}
.box1{
	background-color:red;
	width:100px;
	height:100px;
	font-size:50px;
}
.box2{
	background-color:blue;
	width:100px;
	height:100px;
	font-size:50px;
}
#container-1{
	display:flex;
     flex-wrap:wrap;
	justify-content:space-around
}
.box7{
	background-color:green;
	width:100px;
	height:100px;
	font-size:50px;
}
